{% extends 'base.html' %}

{% block title %} Sarvam Tech Solution || {% endblock title %}


{% load static %}
{% block content %}

        <!--<< Breadcrumb Section Start >>-->
        <div class="breadcrumb-wrapper bg-cover" style="background-image: url('assets/img/breadcrumb.jpg');">
            <div class="border-shape">
                <img src="{% static 'assets/img/element.png' %}" alt="shape-img">
            </div>
            <div class="line-shape">
                <img src="{% static 'assets/img/line-element.png' %}" alt="shape-img">
            </div>
            <div class="container">
                <div class="page-heading">
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">Blog Standard</h1>
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-chevron-right"></i>
                        </li>
                        <li>
                            Blog Standard
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- News Standard Section Start -->
        <section class="news-standard fix section-padding">
        <div class="container">
            <div class="row g-4">
                <div class="col-12 col-lg-8">
                    <div class="news-standard-wrapper">
                        <div class="news-standard-items">
                            <div class="news-thumb">
                                <img src="{% static 'assets/img/news/post-1.jpg' %}" alt="img">
                                <div class="post-date">
                                    <h3>
                                        17 <br>
                                        <span>Feb</span>
                                    </h3>
                                </div>
                            </div>
                            <div class="news-content">
                                <ul>
                                    <li>
                                        <i class="fa-regular fa-user"></i>
                                        By Admin
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-tag"></i>
                                        IT Services
                                    </li>
                                </ul>
                                <h3>
                                    <a href="news-details.html">Keep Your Business Safe & Ensure High Availability</a>
                                </h3>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipiscing elit Ut et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur..
                                </p>
                                <a href="news-details.html" class="theme-btn mt-4">
                                    Read More
                                    <i class="fa-solid fa-arrow-right-long"></i>
                                </a>
                            </div>
                        </div>
                      
                        <div class="page-nav-wrap pt-5 text-center">
                            <ul>
                                <li><a class="page-numbers" href="#">01</a></li>
                                <li><a class="page-numbers" href="#">02</a></li>
                                <li><a class="page-numbers" href="#">03</a></li>
                                <li><a class="page-numbers" href="#"><i class="fa-solid fa-arrow-right-long"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="main-sidebar">
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Search</h3>
                            </div>
                            <div class="search-widget">
                                <form action="#">
                                    <input type="text" placeholder="Search here">
                                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Categories</h3>
                            </div>
                            <div class="news-widget-categories">
                                <ul>
                                    <li><a href="news-details.html">Database Security</a> <span>(08)</span></li>
                                    <li><a href="news-details.html">IT Consultancy</a> <span>(11)</span></li>
                                    <li class="active"><a href="news-details.html">App Development</a><span>(12)</span></li>
                                    <li><a href="news-details.html">UI/UX Design</a> <span>(18)</span></li>
                                    <li><a href="news-details.html">Cyber Security</a> <span>(07)</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Recent Post</h3>
                            </div>
                            <div class="recent-post-area">
                                <div class="recent-items">
                                    <div class="recent-thumb">
                                        <img src="{% static 'assets/img/news/pp3.jpg' %}" alt="img">
                                    </div>
                                    <div class="recent-content">
                                        <ul>
                                            <li>
                                                <i class="fa-solid fa-calendar-days"></i>
                                                18 Dec, 2024
                                            </li>
                                        </ul>
                                        <h6>
                                            <a href="news-details.html">
                                                Keep Your Business Safe & <br>
                                                Endure High Availability
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="recent-items">
                                    <div class="recent-thumb">
                                        <img src="{% static 'assets/img/news/pp4.jpg' %}" alt="img">
                                    </div>
                                    <div class="recent-content">
                                        <ul>
                                            <li>
                                                <i class="fa-solid fa-calendar-days"></i>
                                                18 Dec, 2024
                                            </li>
                                        </ul>
                                        <h6>
                                            <a href="news-details.html">
                                                Tacking the Changes of <br>
                                                Retail Industry
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                                <div class="recent-items">
                                    <div class="recent-thumb">
                                        <img src="{% static 'assets/img/news/pp5.jpg' %}" alt="img">
                                    </div>
                                    <div class="recent-content">
                                        <ul>
                                            <li>
                                                <i class="fa-solid fa-calendar-days"></i>
                                                18 Dec, 2024
                                            </li>
                                        </ul>
                                        <h6>
                                            <a href="news-details.html">
                                                What’s the Holding Back <br>
                                                the It Solution
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-sidebar-widget">
                            <div class="wid-title">
                                <h3>Tags</h3>
                            </div>
                            <div class="news-widget-categories">
                                <div class="tagcloud">
                                    <a href="news-standard.html">News</a>     
                                    <a href="news-details.html">business</a>
                                    <a href="news-details.html">marketing</a>
                                    <a href="news-details.html">solution</a>
                                    <a href="news-details.html">SMM</a>
                                    <a href="news-details.html">strategy</a>
                                    <a href="news-details.html">SEO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>

        {% endblock content %}