{% extends 'base.html' %}

{% block title %} Sarvam Tech Solution || {% endblock title %}


{% load static %}
{% block content %}

        <!--<< Breadcrumb Section Start >>-->
        <!-- <div class="breadcrumb-wrapper bg-cover" style="background-image: url('assets/img/breadcrumb.jpg');">
            <div class="border-shape">
                <img src="{% static 'assets/img/element.png' %}" alt="shape-img">
            </div>
            <div class="line-shape">
                <img src="{% static 'assets/img/line-element.png' %}" alt="shape-img">
            </div>
            <div class="container">
                <div class="page-heading">
                    <h1 class="wow fadeInUp" data-wow-delay=".3s">Services</h1>
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                        <li>
                            <a href="index.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <i class="fas fa-chevron-right"></i>
                        </li>
                        <li>
                            Services
                        </li>
                    </ul>
                </div>
            </div>
        </div> -->

        <!-- Service Section Start -->
        <section class="service-section fix section-padding">
            <div class="container">
                <div class="section-title text-center">
                    <span class="wow fadeInUp">OUR SERVICES</span>  
                    <h2 class="wow fadeInUp" data-wow-delay=".3s">
                        We Provide the Best Quality
                    </h2>  
                </div>
                <div class="service-wrapper mb-0">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="service-box-items box-shadow">
                                <div class="icon">
                                   <img src="{% static 'assets/img/service/icon/s-icon-1.svg' %}" alt="icon-img">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="{% url 'service_details' %}">
                                            Custom Website Development
                                        </a>
                                    </h4>
                                    <p>
                                        Create visually stunning and highly functional websites tailored to your business needs, ensuring top-notch performance and user experience.
                                    </p>
                                    <a href="{% url 'service_details' %}" class="theme-btn-2 mt-3">
                                        read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="service-box-items box-shadow active">
                                <div class="icon">
                                   <img src="{% static 'assets/img/service/icon/s-icon-2.svg' %}" alt="icon-img">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="{% url 'service_details' %}">
                                            Mobile App Development
                                        </a>
                                    </h4>
                                    <p>
                                        Develop cutting-edge mobile apps that deliver exceptional performance, whether for Android, iOS, or cross-platform solutions.
                                    </p>
                                    <a href="{% url 'service_details' %}" class="theme-btn-2 mt-3">
                                        read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="service-box-items box-shadow">
                                <div class="icon">
                                   <img src="{% static 'assets/img/service/icon/s-icon-3.svg' %}" alt="icon-img">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="{% url 'service_details' %}">
                                            IEC Registration Services
                                        </a>
                                    </h4>
                                    <p>
                                        Hassle-free Import Export Code (IEC) registration services to streamline your international trade operations.
                                    </p>
                                    <a href="{% url 'service_details' %}" class="theme-btn-2 mt-3">
                                        read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                            <div class="service-box-items box-shadow">
                                <div class="icon">
                                   <img src="{% static 'assets/img/service/icon/s-icon-4.svg' %}" alt="icon-img">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="{% url 'service_details' %}">
                                            Digital Branding Solutions
                                        </a>
                                    </h4>
                                    <p>
                                        Enhance your online presence with comprehensive digital branding services, including SEO, social media management, and content marketing.
                                    </p>
                                    <a href="{% url 'service_details' %}" class="theme-btn-2 mt-3">
                                        read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".3s">
                            <div class="service-box-items box-shadow">
                                <div class="icon">
                                   <img src="{% static 'assets/img/service/icon/s-icon-10.svg' %}" alt="icon-img">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="{% url 'service_details' %}">
                                            Import/Export Consulting
                                        </a>
                                    </h4>
                                    <p>
                                        Expert consulting for businesses entering international trade, including documentation, compliance, and logistics solutions.
                                    </p>
                                    <a href="{% url 'service_details' %}" class="theme-btn-2 mt-3">
                                        read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".5s">
                            <div class="service-box-items box-shadow">
                                <div class="icon">
                                   <img src="{% static 'assets/img/service/icon/s-icon-11.svg' %}" alt="icon-img">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="{% url 'service_details' %}">
                                            ERP Solutions for SMEs
                                        </a>
                                    </h4>
                                    <p>
                                        Empower your small business with an affordable, scalable ERP system that integrates inventory, sales, and customer management.
                                    </p>
                                    <a href="{% url 'service_details' %}" class="theme-btn-2 mt-3">
                                        read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".7s">
                            <div class="service-box-items box-shadow">
                                <div class="icon">
                                   <img src="{% static 'assets/img/service/icon/s-icon-12.svg' %}" alt="icon-img">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="{% url 'service_details' %}">
                                            E-Commerce Store Setup
                                        </a>
                                    </h4>
                                    <p>
                                        Launch your e-commerce business with a fully customizable platform designed to grow your brand and increase sales.
                                    </p>
                                    <a href="{% url 'service_details' %}" class="theme-btn-2 mt-3">
                                        read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".9s">
                            <div class="service-box-items box-shadow">
                                <div class="icon">
                                   <img src="{% static 'assets/img/service/icon/s-icon-13.svg' %}" alt="icon-img">
                                </div>
                                <div class="content">
                                    <h4>
                                        <a href="{% url 'service_details' %}">
                                            Bandage and Gauze Reselling & Export Services
                                        </a>
                                    </h4>
                                    <p>
                                        Wholesale and export high-quality bandages, gauze, and medical supplies to healthcare providers and retailers globally, ensuring reliable and certified products for every need.
                                    </p>
                                    <a href="{% url 'service_details' %}" class="theme-btn-2 mt-3">
                                        read More
                                        <i class="fa-solid fa-arrow-right-long"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--<< Faq Section Start >>-->
        <section class="faq-section style-2 fix section-padding">
            <div class="right-shape">
                <img src="{% static 'assets/img/faq/right-shape.png' %}" alt="shape-img">
            </div>
            <div class="faq-shape-box">
                <div class="faq-shape">
                    <img src="{% static 'assets/img/faq/shape.png' %}" alt="shape-img">
                </div>
            </div>
            <div class="container">
                <div class="faq-wrapper">
                    <div class="row g-4">
                        <div class="col-lg-6 wow fadeInUp" data-wow-delay=".4s">
                            <div class="faq-image">
                                <img src="{% static 'assets/img/faq/faq.png' %}" alt="faq-img">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="faq-content">
                                <div class="section-title">
                                    <span class="wow fadeInUp">See Our Faqs</span>
                                    <h2 class="wow fadeInUp" data-wow-delay=".3s">
                                        Keep Your Business Safe & <br> Ensure High Availability
                                    </h2>
                                </div>
                                <div class="faq-accordion mt-4 mt-md-0">
                                <div class="accordion" id="accordion">
                                    <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay=".3s">
                                        <h5 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                                                How long should a business plan be?
                                            </button>
                                        </h5>
                                        <div id="faq1" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                There are many variations of passages Lorem Ipsum but the majority have suffered alteration in some form, by injected humor.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay=".5s">
                                        <h5 class="accordion-header">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                                                What is included in your services?
                                            </button>
                                        </h5>
                                        <div id="faq2" class="accordion-collapse show" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                There are many variations of passages Lorem Ipsum but the majority have suffered alteration in some form, by injected humor.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item mb-3 wow fadeInUp" data-wow-delay=".7s">
                                        <h5 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                                                What type of company is measured?
                                            </button>
                                        </h5>
                                        <div id="faq3" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                            <div class="accordion-body">
                                                There are many variations of passages Lorem Ipsum but the majority have suffered alteration in some form, by injected humor.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact Section Start -->
        <section class="contact-section fix section-padding">
            <div class="container">
                <div class="contact-wrapper">
                    <div class="arrow-shape">
                        <img src="{% static 'assets/img/arrow-shape.png' %}" alt="shape-img">
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact-image wow fadeInUp" data-wow-delay=".4s">
                                <img src="{% static 'assets/img/contact.png' %}" alt="contact-img">
                                <div class="cricle-shape">
                                    <img src="{% static 'assets/img/circle-shape.png' %}" alt="shape-img">
                                </div>
                                <div class="small-cricle-shape">
                                    <img src="{% static 'assets/img/choose/circle.png' %}" alt="shape-img">
                                </div>
                                <div class="frame-shape">
                                    <img src="{% static 'assets/img/frame.png' %}" alt="img">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="contact-content">
                                <div class="section-title">
                                    <span class="text-white wow fadeInUp">TALK TO US</span>
                                    <h2 class="text-white wow fadeInUp" data-wow-delay=".3s">How May We Help You!</h2>
                                </div>
                                <form action="#" id="contact-form" method="POST" class="contact-form-items">
                                    <div class="row g-4">
                                        <div class="col-lg-6 wow fadeInUp" data-wow-delay=".3s">
                                            <div class="form-clt">
                                                <span>Your name*</span>
                                                <input type="text" name="name" id="name" placeholder="Robot fox">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 wow fadeInUp" data-wow-delay=".5s">
                                            <div class="form-clt">
                                                <span>Your Email*</span>
                                                <input type="text" name="email" id="email" placeholder="info@example.com">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 wow fadeInUp" data-wow-delay=".7s">
                                            <div class="form-clt">
                                                <span>Message*</span>
                                                <textarea name="message" id="message" placeholder="Write Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 wow fadeInUp" data-wow-delay=".9s">
                                            <button type="submit" class="theme-btn bg-white">
                                                Sand Message
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            {% endblock content %}  